/* |--------------------------------------------------------------------------
| Form Elements (_forms.scss)
|--------------------------------------------------------------------------
| Styles for common form inputs, textareas, and assignment buttons.
| These styles ensure a unified look across the application's forms.
*/

.input-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    width: 100%;

    .field-legend {
        font-size: var(--fs-xsmall);
        font-weight: var(--fw-normal);
        color: var(--c-black-transparent-1);
        
    }
}

.input-group.meta-input {

    gap: var(--space-xxs);

}

input[type="text"], 
textarea {
    width: 100%;
    padding: var(--space-s) var(--space-m);
    border: 1px solid var(--c-grey-1);
    border-radius: var(--br-s);
    font-size: var(--fs-body);
    color: var(--c-black-1);
    background-color: var(--c-white-2);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 1px 1px var(--c-black-transparent-4);
    -webkit-appearance: none; /* For consistent styling on mobile */
    -moz-appearance: none;
    appearance: none;

    &:focus {
        border-color: var(--c-primary-light-1);
        outline: none;
        box-shadow: 0 0 0 3px var(--c-black-transparent-4);
    }

    &::placeholder {
        color: var(--c-grey-1);
        opacity: 0.8;
    }
}

.user-assignment {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    width: 100%;

    padding: var(--space-s) var(--space-m);

    .assignment-label {
        font-size: var(--fs-small);
        font-weight: var(--fw-bold);
        color: var(--c-black-1);
    }

    .user-chips-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--space-xs);
    }

    .user-chip {
        background-color: var(--c-white-transparent-2);
        border: 1px solid var(--c-grey-2);
        border-radius: var(--br-m);
        padding: var(--space-xs);
        
        cursor: pointer;
        
        transition: background-color 0.2s, color 0.2s;

        &:hover {
            background-color: var(--color-primary-lightest);
            color: var(--color-primary);
        }

        &.active {
            background-color: var(--color-primary);
            color: var(--color-text-on-primary);
            border-color: var(--color-primary);
        }
    }
}







.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-m);

    .button {
        padding: var(--space-s) var(--space-m);
        border: none;
        border-radius: var(--br-m);
        font-size: var(--fs-body);
        font-weight: var(--fw-semibold);
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 0 2px 4px var(--c-black-transparent-3);

        &.add-button {
            background-color: var(--c-secondary-base);
            color: var(--c-white-1);

            &:hover {
                background-color: var(--c-secondary-light-1);
                box-shadow: 0 4px 8px var(--c-black-transparent-4);
            }

            &:disabled {
                background-color: var(--c-grey-4);
                color: var(--c-black-transparent-1);
                cursor: not-allowed;
                box-shadow: none;
            }
        }
        
    }


    .tag-autocomplete {
        background-color: var(--c-grey-5);
        border: 1px solid var(--c-grey-1);
        border-radius: var(--br-s);
        max-height: 150px;
        overflow-y: auto;
        width: auto;
        max-width: 280px;
        box-shadow: 0 2px 4px var(--c-black-transparent-3);
        z-index: 10;
        position: absolute;
        margin-top: var(--space-xxs);
        list-style: none;
        padding: var(--space-s) var(--space-s);

        font-size: var(--fs-small);
        color: var(--c-secondary-dark-1);
        cursor: pointer;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--space-xs);


        .tag-suggestion {
            padding: var(--space-xs) var(--space-xs);
            border: 1px solid var(--c-secondary-light-1);
            border-radius: var(--br-l);
            background-color: var(--c-grey-4);
        }

    }

    .tags-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--space-xs);
        flex-wrap: wrap;
        width: 100%;

        .tag-chip {
            background-color: transparent;
            color: var(--c-primary-dark-1);
            border: 1px solid var(--c-primary-light-1);
            padding: var(--space-xxs) var(--space-xs);
            border-radius: var(--br-l);
            font-size: var(--fs-small);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: var(--space-xxs);

            .tag-remove {
                font-weight: var(--fw-bold);
                cursor: pointer;
                transition: color 0.2s ease;
                background-color: transparent;
                border: none;
                font-size: var(--fs-body);
                color: var(--c-primary-dark-1);
                line-height: 1;

                &:hover {
                    color: var(--c-primary-dark-2);
                }
            }
        }
    }

}